@model BookStore.Models.PRODUCT


    <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="item">
            <img src="~/Content/images/@Model.img" alt="img">
            <h3><a href="/san-pham/@ViewBag.meta/@Model.meta/@Model.idproduct">@Model.name</a></h3>
            <h6><span class="price"></span> / <a href="/san-pham/@ViewBag.meta/@Model.meta/@Model.idproduct">Listen Now</a></h6>
        </div>
        
    </div>

