@model IEnumerable<BookStore.Models.PRODUCT>

<section class="recent-book-sec">
    <div class="container">
        <div class="title">
            <h2>recently added books to our store</h2>
            <hr>
        </div>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="item">
                        <img src="~/Content/images/@i.img" alt="img">
                        <h3><a href="/@ViewBag.meta/@i.meta/@i.idproduct">@i.name</a></h3>
                        <h6><span class="price"></span> / <a href="/@ViewBag.meta/@i.meta/@i.idproduct">Listen Now</a></h6>
                    </div>
                </div>
            }


        </div>
        <div class="btn-sec">
            <a href="/shop" class="btn gray-btn">view all books</a>
        </div>
    </div>
</section>

