@model IEnumerable<BookStore.Models.BANNER>

<section class="slider">
    <div class="container">
        <div id="owl-demo" class="owl-carousel owl-theme">
            @foreach (var i in Model)
            {
            <div class="item">
                <div class="slide">
                    <img src="~/Content/images/@i.link" alt="#">
                    <div class="content">
                        <div class="title">
                            <h3>welcome to bookstore</h3>
                            <h5>Discover the best books online with us</h5>
                            <a href="/shop" class="btn">shop books</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

