<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Scripts/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">Faq</a></li>
                </ul>
            </div>
        </div>
    </div>
    @*@{Html.RenderAction("getMenu", "Temp");}*@
    
    @RenderBody()

</body>
</html>
